<div id="plethore-banner" class="plethore-banner">
    <div class="plethore-banner-content-wrapper">
        <div class="plethore-banner-space-h plethore-space-between plethore-align-items-center">
            <div class="plethore-banner-space-h plethore-align-items-center plethore-gap-10">
                <img class="plethore-banner-app-icon" />
                <div class="plethore-banner-space-v plethore-gap-5">
                    <h2 class="plethore-banner-title"></h2>
                    <h4 class="plethore-banner-subtitle"></h4>
                </div>
            </div>
            <div class="plethore-banner-space-h align-items-center plethore-gap-5">
                <a class="plethore-banner-button" target="_blank">Open</a>
                <button id="plethore-banner-close" class="plethore-banner-close">&times;</button>
            </div>
        </div>
    </div>
</div>
