<div id="plethore-banner" class="plethore-banner">
    <div class="plethore-banner-content-wrapper">
        <div class="banner-space-h space-between align-items-center">
            <div class="banner-space-h align-items-center gap-10">
                <img
                    class="banner-app-icon"
                    src="https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/5b/b0/fb/5bb0fb13-4afa-c92d-7f23-afb06645e0bb/AppIcon-0-0-1x_U007ephone-0-1-85-220.png/230x0w.webp"
                />
                <div class="banner-space-v gap-5">
                    <h2 class="plethore-banner-title"></h2>
                    <h4 class="plethore-banner-subtitle"></h4>
                </div>
            </div>
            <div class="banner-space-h align-items-center gap-5">
                <a class="banner-cta">Open</a>
                <button id="banner-close" class="banner-close">&times;</button>
            </div>
        </div>
    </div>
</div>
