.plethore-banner {
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    z-index: 9999 !important;
    color: #fff !important;
    opacity: 0;
    animation: slideDown 0.5s ease-out 1s forwards;
    transition: opacity 2s ease;
}

/* Typography */
.plethore-banner-title,
.plethore-banner-subtitle {
    margin: 0 !important;
    padding: 0 !important;
}
.plethore-banner-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 15px !important;
    color: #000 !important;
    text-align: left !important;
}
.plethore-banner-subtitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
    color: #000 !important;
    text-align: left !important;
}

/* Typography */
.plethore-banner-content-wrapper {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background: #fff !important;
    padding: 8px !important;
    margin: 15px !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}
.plethore-banner-close {
    border: none !important;
    color: #000 !important;
    font-size: 20px !important;
    cursor: pointer !important;
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.plethore-banner-space-h {
    display: flex !important;
    flex-direction: row !important;
}
.plethore-banner-space-v {
    display: flex !important;
    flex-direction: column !important;
}
.plethore-gap-15 {
    gap: 12px !important;
}
.plethore-gap-10 {
    gap: 8px !important;
}
.plethore-gap-5 {
    gap: 3px !important;
}
.plethore-gap-0 {
    gap: 0 !important;
}
.plethore-banner-app-icon {
    width: 45px !important;
    height: 45px !important;
    border-radius: 10px !important;
}
.plethore-space-between {
    justify-content: space-between !important;
}
.plethore-align-items-center {
    align-items: center !important;
}
.plethore-banner-button {
    background-color: #000 !important;
    color: #fff !important;
    font-weight: 500 !important;
    padding: 3px 10px !important;
    border: none !important;
    border-radius: 15px !important;
    font-size: 14px !important;
    cursor: pointer !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    transition: all 0.3s ease !important;
}
.plethore-banner-cta:hover {
    transform: scale(1.05);
}
.plethore-w-full {
    width: 100% !important;
}
.plethore-align-right {
    text-align: right !important;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
