.plethore-banner {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    color: #fff;
    opacity: 0;
    animation: slideDown 0.5s ease-out 1s forwards;
    transition: opacity 2s ease;
}

/* Typography */
.plethore-banner-title,
.plethore-banner-subtitle {
    margin: 0;
    padding: 0;
}
.plethore-banner-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #000;
}
.plethore-banner-subtitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #000;
}

/* Typography */
.plethore-banner-content-wrapper {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.plethore-banner-close {
    border: none;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    background: none;
}
.plethore-banner-space-h {
    display: flex;
    flex-direction: row;
}
.plethore-banner-space-v {
    display: flex;
    flex-direction: column;
}
.plethore-gap-15 {
    gap: 15px;
}
.plethore-gap-10 {
    gap: 10px;
}
.plethore-gap-5 {
    gap: 5px;
}
.plethore-gap-0 {
    gap: 0;
}
.plethore-banner-app-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.plethore-space-between {
    justify-content: space-between;
}
.plethore-align-items-center {
    align-items: center;
}
.plethore-banner-button {
    background-color: #000;
    color: #fff;
    font-weight: 500;
    padding: 4px 12px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}
.plethore-banner-cta:hover {
    transform: scale(1.05);
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
